page-contra {
    p{
           
        font-size: 16px!important;
        align-content: center;
    }
    .fondos {
        background: url(../assets/img/drive.jpg);
        background-size: cover;
      }
    
}
