page-homeconductor {
  .inferior{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 50px;
    z-index: 0;
  }
  .barraestado{
    background: rgba(184, 172, 164, .1);
  }
}
