page-viajesusuario {
    .letrasadaptadas{
        box-sizing: border-box;
        font-size: small;
        padding-left: 1px;
    }
    .espacio{
        padding-top: 10px;
    }
    .cardrounded{
         border-radius: 5px;
    }

}
